[Desktop Entry]
Name=Super Files Manager
Name[el]=Σούπερ Διαχειριστής Αρχείων
Comment=Access and organize files as root user
Comment[el]=Προσπελάστε και οργανώστε αρχεία σαν διαχειριστής του συστήματος
Keywords=folder;manager;explore;disk;filesystem;
Keywords[el]=φάκελος;διαχειριστής;εξερεύνηση;δίσκος;σύστημα αρχείων;folder;manager;explore;disk;files system;
Exec=pkexec-filemanager
Icon=root-system-file-manager
Terminal=false
Type=Application
OnlyShowIn=GNOME;Unity;KDE;
Categories=GNOME;GTK;Utility;Core;FileManager;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.16.0
X-GNOME-UsesNotifications=true
X-Unity-IconBackgroundColor=#af4853
X-Ubuntu-Gettext-Domain=nautilus
X-Desktop-File-Install-Version=0.22
